h1, h2 {
  text-align: center;
}

hr {
  height: 0;
  border: .025em solid var(--black);
}

.container {
  display: flex;
  justify-content: space-around;
}

#navigation {
  flex-direction: column;
}

#buttons {
}

#typography {
}

#mediacards {
}

.nav1 {
  display: flex;
  justify-content: space-around;
  border: .2em solid var(--blue);
  margin: 2%;
}

.navitem {
  flex-grow: 1;
  background-color: var(--blue);
  text-align: center;
  padding: 1em;
  margin: .1em;
  color: var(--white);
  text-decoration: none;
}

.navitem:hover {
  transform: scaleY(1.25);
  transition: all .25s ease;
  background-color: var(--lightblue);
}

.nav2 {
  display: flex;
  justify-content: space-around;
  background-color: var(--blue);
  padding-top: .2em;
  margin: 2%;
}

.menulabel {
  margin-top: .5em;
  margin-bottom: .45em;
  font-size: 1.5em;
  color: var(--white);
}

.menu {
  display: flex;
  justify-content: space-around;
  width: 60%;
}

.dropdown:hover .dropdownbutton {
  background-color: var(--lightblue);
  font-weight: bold;
}

.dropdown:hover .dropdownlist {
  display: block;
}

.dropdownbutton {
  position: relative;
  left: .2em;
  background-color: var(--blue);
  width: 5em;
  padding: 1em;
  border: none;
  margin: 0;
  color: var(--white);
  font-size: 1.1em;
}

.dropdownbutton:hover {
  background-color: var(--lightblue);
  font-weight: bold;
  cursor: pointer;
}

.dropdownlist {
  display: none;
  z-index: 1;
  position: absolute;
  box-shadow: .25em .5em 2em 0em rgba(0, 0, 0, .25);
  background-color: var(--darkwhite);
  width: 6em;
  border-left: .1em solid var(--blue);
  border-right: .1em solid var(--blue);
  border-bottom: .1em solid var(--blue);
}

.option {
  display: block;
  padding-left: 1.2em;
  padding-right: 1em;
  padding-top: 1em;
  padding-bottom: 1em;
  border: .1em solid var(--blue);
  color: var(--blue);
  text-decoration: none;
}

.option:hover {
  background-color: var(--hovergray);
  font-weight: bold;
}

#topoption {
  border-top: 0;
}

.button1 {
  border-radius: 5px;
  background-color: var(--blue);
  padding: .5em;
  border: .2em solid var(--blue);
  color: var(--white);
}

.button1:hover {
  background-color: var(--lightblue);
}

:root {
  --lightblue: #7ba1ed;
  --hovergray: #bbbbbb;
  --darkwhite: #eeeeee;
}
